<!DOCTYPE html>
<html>

<head>
  <title>TechNews | Login</title>
  <meta charset="utf-8">
  <link rel = "icon" href =  
"https://img.icons8.com/color/48/000000/webmoney.png" 
        type = "image/x-icon"> 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">  
  <link rel="stylesheet" href="/public/plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body,
    html {
      height: 100%;
      background-image:url(/public/images/home.png);
      background-repeat: no-repeat;
      background-size: 50%; 
      background-position: bottom right;
    }  
    .has-search .form-control {
      padding-left: 2.375rem;
    }

    .has-search .form-control-feedback {
      position: absolute;
      z-index: 2;
      display: block;
      width: 2.375rem;
      height: 2.375rem;
      line-height: 2.375rem;
      text-align: center;
      pointer-events: none;
      color: #aaa;
    }
  </style>
</head>

<body>
  <div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-sm-4 col-md-3">
        {{#if err}}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{err}}
        </div>
        {{/if}}
        <div class="alert alert-warning alert-dismissible fade show" role="alert" style="display: none;">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <a class="btn btn-lg btn-light btn-block" href="/" role="button">
          <i class="fa fa-home" aria-hidden="true"></i>
        </a>
        <br>
          <div class="form-group">
            <div class="input-group">
              <input class="form-control form-control-lg border-right-0 border" id="txtUsername" placeholder="Tên đăng nhập" type="text"
                name="Username" autofocus>
              <span class="input-group-append">
                <div class="input-group-text bg-white">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </div>
              </span>
            </div>
            <small id="rsUsername"></small>
          </div>
          <div class="form-group">
            <div class="input-group">
              <input class="form-control form-control-lg border-right-0 border" placeholder="Mật khẩu" type="password"
                name="Password" id="txtPassword">
              <span class="input-group-append">
                <div class="input-group-text bg-white">
                  <i class="fa fa-key" aria-hidden="true"></i>
                </div>
              </span>
            </div>
            <small id="rsPassword"></small>
          </div>
          {{!-- captcha --}}
          {{!-- <div class="g-recaptcha" data-sitekey="6LfNc78ZAAAAAKrXI7f-BgvEMg7t0ekCghzxp1mg"></div><br> --}}
          <div class="form-group d-flex">

            <div class="flex-fill ml-1">
              <button class="btn btn-info btn-lg btn-block" onclick="Login()">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                Đăng nhập
              </button>
            </div>
            <div class="flex-fill ml-1">
              <a class="btn btn-outline-primary btn-lg btn-block" href="/account/register">
                <i class="fas fa-user-plus"></i>
                Tạo tài khoản
              </a>
            </div>
          </div>
          <div class="flex-fill ml-1">
              <a class="btn btn-outline-danger btn-lg btn-block" href="/auth/google">
                <i class="fab fa-google-plus"></i>
                Đăng nhập với Google+
            </a>
          </div>
          <div class="flex-fill m-1">
              <a class="btn btn-outline-primary btn-lg btn-block" href="/auth/facebook">
                <i class="fab fa-facebook"></i>
                Đăng nhập với Facebook
            </a>
          </div>
          <div class="d-flex justify-content-center">
            <a href="/account/ForgotPW"><i>Quên mật khẩu.</i></a>
          </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  {{!-- for captcha --}}
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <script>
  /* $('#frmLoginAccount').on('submit', function (e) {
    // alert('submit called');
    e.preventDefault();
    // if (validate())
    //   $('#frmLoginAccount').off('submit').submit();
    validate();
  }) */

/*function validate() {
  // ... các lệnh validate khác
  if (!validateUsername() || !validatePassword()){
    return alert('Thông tin nhập không chính xác hoặc không đầy đủ.'); 
  }
  return $('#frmLoginAccount').off('submit').submit();    
}*/

function validateRegexUsername(username) {
    const re = /^(([a-z]){1}([a-z0-9_\.]){3,31})$/;
    return re.test(username);
}

function validateUsername() {
  const $result = $("#rsUsername");
  const username = $("#txtUsername").val();
  $result.text("");
  
  if (validateRegexUsername(username)) {
    return true;
  }
  if (username === "")
  {
      $result.text("Mục bắt buộc phải điền.");
      $result.css("color", "red");
      return false;
  }
  $result.text("Chứa ít nhất 4 kí tự, trong đó 1 kí tự ở đầu câu, và chỉ có kí tự thường không dấu hoặc số.");
  $result.css("color", "red");
  return false;
}

function validateRegexPassword(pw) {
    const re = /^(?=.{5,})(?=.*[a-z]+)(?=.*\d+)(?=.*[A-Z]+)[ -~]+$/;
    return re.test(pw);
}
function validatePassword() {
  const $result = $("#rsPassword");
  const pw = $("#txtPassword").val();
  $result.text("");

  if (validateRegexPassword(pw)) 
  {
    return true;
  }
  if (pw === "")
  {
    $result.text("Mục bắt buộc phải điền.");
    $result.css("color", "red");
    return false;
  }
  $result.text("Có ít nhất 5 kí tự, gồm chữ thường, hoa và số");
  $result.css("color", "red");
  return false;
}
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
$(document).ready(function(){
  $("#txtUsername").change(function(){
    validateUsername();
  });
  $("#txtPassword").change(function(){
    validatePassword();
  });
});

async function Login(event)
{
	try{
		const $username = $('#txtUsername').val();
		const $password = $('#txtPassword').val();
    
		const response = await fetch('/account/login', {
			method: 'POST',
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({ Username:$username , Password: $password})
		});
		
		const responseJSON = await response.json();
		if(responseJSON.success)
		{
			location.href=responseJSON.success;
		}
		else
		{
      $('.alert-warning').text(responseJSON.err);
      $('.alert-warning').show();
			//$('#invalid').html(responseJSON.err);
			console.log( responseJSON.err);
		} 
	}
	catch(error)
	{
		console.log(error);
	}
} 
</script>
</body>

</html>