<div class="container">
    <div class="alert alert-danger" role="alert" id="AlertFail"></div>
    <div class="alert alert-success" role="alert" id="AlertSuccess"></div>
    <div id="alert"></div>
    <div class="row justify-content-center">
        <h1>Reset Password</h1>
    </div>
	<div class="row justify-content-center">
        <form class="col" id="formReset">
                <label>New Password</label>
                <div class="form-group pass_show">
                    <input type="password" class="form-control" id="NewPassword" name="NewPassword" placeholder="New Password" required
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
                </div>
                <label>Re-enter Password</label>
                <div class="form-group pass_show">
                    <input type="password" class="form-control" id="RePassword" name="RePassword" placeholder="Confirm Password" required title="The re-password must match the new password fields above">
                </div>
            <div class="row justify-content-center">
                <div class="form-group">
                    <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="OK" type="submit" id="submit">
                </div>
            </div>
        </form>
	</div>
</div>

{{#section 'js'}}
<script>
    function Submit()
    {
        const form = document.getElementById("formReset");
        const btnSubmit = document.getElementById("submit");
        btnSubmit.addEventListener("click", function () {
            event.preventDefault();
            const xhttp = new XMLHttpRequest();
            const FD = new FormData(form);
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    const data = JSON.parse(xhttp.responseText);
                    if(data.success !== undefined)
                    {
                        document.getElementById("AlertSuccess").innerHTML = data.success;
                        document.getElementById("AlertSuccess").style.visibility = "visible";
                        document.getElementById("AlertFail").style.visibility = "hidden";
                        document.getElementById("NewPassword").value = '';
                        document.getElementById("RePassword").value = '';
                    }
                    if(data.fail !== undefined){
                        document.getElementById("AlertFail").innerHTML = data.fail;
                        document.getElementById("AlertFail").style.visibility = "visible";
                        document.getElementById("AlertSuccess").style.visibility = "hidden";
                        document.getElementById("NewPassword").value = '';
                        document.getElementById("RePassword").value = '';
                    }
                }
            }
            xhttp.open("POST", "/reset/", true);
            xhttp.send(FD);
        }, true)
    }

    window.onload = function(){
        document.getElementById("AlertSuccess").style.visibility = "hidden";
         document.getElementById("AlertFail").style.visibility = "hidden";
        Submit();
    }
  
</script>
{{/section}}