<div class="card">
  <div class="card-header">
    <h4><b>
      Hi, {{lcAuthUser.Name}}
    </b></h4>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><b>Pending:</b> Bao gồm các bài viết đang chờ phê duyệt. Bạn có thể chấp nhận hoặc từ
      chối bài viết. Nếu bài viết được chấp nhận bạn cần chọn chuyên mục category, nhãn tag của bài viết, đồng thời xác
      định thời điểm bài viết sẽ được xuất bản lên hệ thống. Nếu từ chối bài viết bạn cần ghi chú rõ lý do để phóng viên
      có thể hiệu chỉnh lại bài viết cho phù hợp </li>
    <li class="list-group-item"><b>Accepted: </b>Bao gồm các bài viết đã được duyệt</li>
    <li class="list-group-item"><b>Denied: </b>Bao gồm các bài viết bị từ chối</li>
  </ul>
</div>