<div class="d-flex justify-content-center">
  {{#each this.listCategories}}
  <a href="/editor/accepted/{{IdCategories}}" type="button" class="btn btn-info mr-3 mt-3 mb-3 active">{{Name}}</a>
  {{/each}}
</div>
<div>
    
</div>