.content-summary{
	/* white-space: nowrap;  */
	height: 80px; 
	overflow: hidden;
	/* text-overflow: ellipsis; */
}

.card-tag{
	height: 90px; 
	overflow: hidden;
}

.title-post{
	height: 65px;
	overflow: hidden; 
}

.list-tag{
	height: 60px;
	overflow: hidden; 
}

.side_post{
	margin-top: 20px;
}


.pagination-reinstall{
	margin-top: 30px;
}

.pagination-reinstall nav a{
	background-color: #fff;
	color: black;
	min-width: 20px;
	transition: none;
	margin: 0;
	padding: .5rem .75rem;
	position: relative;
	min-width: 0;
	border-radius: 0%;
	font-size: 14px;
}
